{
  "openapi": "3.1.0",
  "info": {
    "title": "GitHub File Patch API",
    "version": "0.3.0",
    "description": "Safe GitHub file read and precise patch preview/apply service for GPTS, with guarded pull request read, ready-for-review, and merge operations."
  },
  "servers": [
    {
      "url": "https://github-patch.srv1904412.hstgr.cloud",
      "description": "Coolify production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "addHealth",
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/file/read": {
      "post": {
        "operationId": "readFile",
        "summary": "Read a file from GitHub with line view",
        "security": [
          {
            "ActionBearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repository_full_name",
                  "branch",
                  "path"
                ],
                "properties": {
                  "repository_full_name": {
                    "type": "string",
                    "examples": [
                      "n0namer/GitHub-add"
                    ]
                  },
                  "branch": {
                    "type": "string",
                    "examples": [
                      "main"
                    ]
                  },
                  "path": {
                    "type": "string",
                    "examples": [
                      "test-fixtures/marker-file.md"
                    ]
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File read successfully"
          }
        }
      }
    },
    "/patch/preview": {
      "post": {
        "operationId": "patchPreview",
        "summary": "Preview a safe marker-based or text-based patch without committing",
        "security": [
          {
            "ActionBearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview passed"
          },
          "401": {
            "description": "Unauthorized — missing or invalid Bearer token"
          },
          "409": {
            "description": "Expected SHA mismatch"
          },
          "422": {
            "description": "Patch cannot be applied safely"
          },
          "503": {
            "description": "Bearer auth required but not configured"
          }
        }
      }
    },
    "/patch/apply": {
      "post": {
        "operationId": "githubPatchApply",
        "summary": "Apply a previously previewed patch and commit it",
        "security": [
          {
            "ActionBearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchApplyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Apply passed"
          },
          "401": {
            "description": "Unauthorized — missing or invalid Bearer token"
          },
          "409": {
            "description": "Expected SHA mismatch"
          },
          "422": {
            "description": "Patch cannot be applied safely"
          },
          "503": {
            "description": "Bearer auth required but not configured"
          }
        }
      }
    },
    "/pull-request/read": {
      "post": {
        "operationId": "githubReadPullRequest",
        "summary": "Read pull request state and head SHA",
        "security": [
          {
            "ActionBearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullRequestReadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pull request read successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Repository not allowed"
          },
          "404": {
            "description": "Pull request not found"
          }
        }
      }
    },
    "/pull-request/ready": {
      "post": {
        "operationId": "githubMarkPullRequestReady",
        "summary": "Mark a draft pull request ready for review with head SHA guard",
        "security": [
          {
            "ActionBearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullRequestReadyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pull request is ready for review and reread verified"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Repository not allowed"
          },
          "409": {
            "description": "Pull request head SHA changed"
          },
          "422": {
            "description": "Operation blocked"
          }
        }
      }
    },
    "/pull-request/merge": {
      "post": {
        "operationId": "githubMergePullRequest",
        "summary": "Merge a pull request with mandatory head SHA guard and reread verification",
        "security": [
          {
            "ActionBearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullRequestMergeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merge passed and reread verified"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Repository not allowed"
          },
          "409": {
            "description": "Pull request changed or merge blocked"
          },
          "422": {
            "description": "Pull request cannot be merged safely"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ActionBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "service"
        ],
        "properties": {
          "status": {
            "type": "string",
            "examples": [
              "ok"
            ]
          },
          "service": {
            "type": "string",
            "examples": [
              "github-file-patch-api"
            ]
          },
          "version": {
            "type": "string",
            "examples": [
              "0.3.0"
            ]
          },
          "source_commit": {
            "type": "string"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PullRequestReadRequest": {
        "type": "object",
        "required": [
          "repository_full_name",
          "pull_number"
        ],
        "properties": {
          "repository_full_name": {
            "type": "string",
            "examples": [
              "n0namer/gpts-actions-github-add-api"
            ]
          },
          "pull_number": {
            "type": "integer",
            "minimum": 1,
            "examples": [
              3
            ]
          }
        }
      },
      "PullRequestReadyRequest": {
        "type": "object",
        "required": [
          "repository_full_name",
          "pull_number",
          "expected_head_sha"
        ],
        "properties": {
          "repository_full_name": {
            "type": "string",
            "examples": [
              "n0namer/gpts-actions-github-add-api"
            ]
          },
          "pull_number": {
            "type": "integer",
            "minimum": 1,
            "examples": [
              3
            ]
          },
          "expected_head_sha": {
            "type": "string",
            "description": "Current pull request head commit SHA used as a concurrency guard."
          }
        }
      },
      "PullRequestMergeRequest": {
        "type": "object",
        "required": [
          "repository_full_name",
          "pull_number",
          "expected_head_sha"
        ],
        "properties": {
          "repository_full_name": {
            "type": "string",
            "examples": [
              "n0namer/gpts-actions-github-add-api"
            ]
          },
          "pull_number": {
            "type": "integer",
            "minimum": 1,
            "examples": [
              3
            ]
          },
          "expected_head_sha": {
            "type": "string",
            "description": "Current pull request head commit SHA used as a mandatory merge concurrency guard."
          },
          "merge_method": {
            "type": "string",
            "enum": [
              "merge",
              "squash",
              "rebase"
            ],
            "default": "merge"
          },
          "commit_title": {
            "type": "string"
          },
          "commit_message": {
            "type": "string"
          }
        }
      },
      "PatchRequest": {
        "type": "object",
        "required": [
          "repository_full_name",
          "branch",
          "path",
          "expected_sha",
          "operation"
        ],
        "properties": {
          "repository_full_name": {
            "type": "string",
            "examples": [
              "n0namer/GitHub-add"
            ]
          },
          "branch": {
            "type": "string",
            "examples": [
              "main"
            ]
          },
          "path": {
            "type": "string",
            "examples": [
              "test-fixtures/marker-file.md"
            ]
          },
          "expected_sha": {
            "type": "string"
          },
          "operation": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ReplaceBetweenMarkersOperation"
              },
              {
                "$ref": "#/components/schemas/InsertAfterMarkerOperation"
              },
              {
                "$ref": "#/components/schemas/ReplaceExactOnceOperation"
              },
              {
                "$ref": "#/components/schemas/ReplaceWithContextOperation"
              },
              {
                "$ref": "#/components/schemas/ReplaceLineRangeOperation"
              },
              {
                "$ref": "#/components/schemas/InsertAfterExactOnceOperation"
              }
            ]
          },
          "options": {
            "type": "object",
            "properties": {
              "max_changed_lines": {
                "type": "integer"
              }
            }
          }
        }
      },
      "PatchApplyRequest": {
        "type": "object",
        "required": [
          "repository_full_name",
          "branch",
          "path",
          "expected_sha",
          "operation",
          "commit_message",
          "preview_patch_id"
        ],
        "properties": {
          "repository_full_name": {
            "type": "string",
            "examples": [
              "n0namer/GitHub-add"
            ]
          },
          "branch": {
            "type": "string",
            "examples": [
              "main"
            ]
          },
          "path": {
            "type": "string",
            "examples": [
              "test-fixtures/marker-file.md"
            ]
          },
          "expected_sha": {
            "type": "string"
          },
          "operation": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ReplaceBetweenMarkersOperation"
              },
              {
                "$ref": "#/components/schemas/InsertAfterMarkerOperation"
              },
              {
                "$ref": "#/components/schemas/ReplaceExactOnceOperation"
              },
              {
                "$ref": "#/components/schemas/ReplaceWithContextOperation"
              },
              {
                "$ref": "#/components/schemas/ReplaceLineRangeOperation"
              },
              {
                "$ref": "#/components/schemas/InsertAfterExactOnceOperation"
              }
            ]
          },
          "options": {
            "type": "object",
            "properties": {
              "max_changed_lines": {
                "type": "integer"
              }
            }
          },
          "commit_message": {
            "type": "string"
          },
          "preview_patch_id": {
            "type": "string"
          }
        }
      },
      "ReplaceBetweenMarkersOperation": {
        "type": "object",
        "required": [
          "type",
          "start_marker",
          "end_marker",
          "new_text"
        ],
        "properties": {
          "type": {
            "const": "replace_between_markers"
          },
          "start_marker": {
            "type": "string"
          },
          "end_marker": {
            "type": "string"
          },
          "new_text": {
            "type": "string"
          }
        }
      },
      "InsertAfterMarkerOperation": {
        "type": "object",
        "required": [
          "type",
          "marker",
          "text"
        ],
        "properties": {
          "type": {
            "const": "insert_after_marker"
          },
          "marker": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "ReplaceExactOnceOperation": {
        "type": "object",
        "required": [
          "type",
          "old_text",
          "new_text"
        ],
        "properties": {
          "type": {
            "const": "replace_exact_once"
          },
          "old_text": {
            "type": "string"
          },
          "new_text": {
            "type": "string"
          }
        }
      },
      "ReplaceWithContextOperation": {
        "type": "object",
        "required": [
          "type",
          "old_text",
          "new_text"
        ],
        "properties": {
          "type": {
            "const": "replace_with_context"
          },
          "before": {
            "type": "string"
          },
          "old_text": {
            "type": "string"
          },
          "after": {
            "type": "string"
          },
          "new_text": {
            "type": "string"
          }
        }
      },
      "ReplaceLineRangeOperation": {
        "type": "object",
        "required": [
          "type",
          "start_line",
          "end_line",
          "expected_old_text",
          "new_text"
        ],
        "properties": {
          "type": {
            "const": "replace_line_range"
          },
          "start_line": {
            "type": "integer"
          },
          "end_line": {
            "type": "integer"
          },
          "expected_old_text": {
            "type": "string"
          },
          "new_text": {
            "type": "string"
          }
        }
      },
      "InsertAfterExactOnceOperation": {
        "type": "object",
        "required": [
          "type",
          "anchor_text",
          "insert_text"
        ],
        "properties": {
          "type": {
            "const": "insert_after_exact_once"
          },
          "anchor_text": {
            "type": "string"
          },
          "insert_text": {
            "type": "string"
          }
        }
      }
    }
  }
}