{"openapi":"3.1.0","info":{"title":"GitHub Control + File Patch API","version":"0.5.0","description":"Primary GitHub control plane for ChatGPT Actions. Safe file/patch/PR operations plus universal REST and GraphQL fallbacks, GitHub App/installation auth, repository diagnostics, bounded pagination, scoped write probes, and Actions job logs. Credentials remain server-side; generic mutations require explicit confirmation."},"servers":[{"url":"https://github-patch.srv1904412.hstgr.cloud","description":"Coolify live service"}],"paths":{"/health":{"get":{"operationId":"addHealth","summary":"Health and capability check","responses":{"200":{"description":"Healthy"}}}},"/github/rest":{"post":{"operationId":"githubRest","summary":"Call any GitHub REST API endpoint through the server-owned credential gateway","description":"GitHub REST gateway. Reads are allowed. Writes require confirm_mutation. Admin/destructive writes are disabled by default and need separate server enable flags plus dedicated confirmations. Secret mutations are blocked; repo scope is enforced server-side.","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubRestRequest"}}}},"responses":{"200":{"description":"GitHub REST request succeeded; response is bounded and secrets are redacted"},"400":{"description":"Bad request"},"401":{"description":"Authentication failed"},"403":{"description":"GitHub or local policy denied operation"},"409":{"description":"Mutation confirmation required"},"502":{"description":"GitHub request failed or response too large"},"503":{"description":"Requested App credentials are not configured"}},"x-openai-isConsequential":true}},"/github/graphql":{"post":{"operationId":"githubGraphql","summary":"Call GitHub GraphQL through server-owned credentials","description":"Bounded GraphQL gateway. Queries are allowed. Generic GraphQL mutations are disabled by default; when server-enabled they require confirm_mutation=true and confirm_admin_mutation=true. In repository-scoped mode, user-token GraphQL is blocked because the query cannot be mechanically constrained to the declared repository; use installation auth instead. Installation credentials stay server-side.","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubGraphqlRequest"}}}},"responses":{"200":{"description":"GraphQL request succeeded"},"400":{"description":"Bad request"},"409":{"description":"Mutation confirmation required"},"502":{"description":"GitHub GraphQL request failed"}},"x-openai-isConsequential":true}},"/github/repository/diagnose":{"post":{"operationId":"diagnoseGitHubRepository","summary":"Diagnose repository rulesets, branch protection, Actions, checks, and status","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubRepositoryDiagnoseRequest"}}}},"responses":{"200":{"description":"Repository diagnostic completed"},"403":{"description":"Repository not allowed"}}}},"/github/ref-write-probe":{"post":{"operationId":"githubRefWriteProbe","summary":"Verify repository write access with a self-cleaning temporary branch ref","description":"Creates station/probe/* at default HEAD, verifies readback, then deletes exactly that ref. Requires confirm_mutation=true.","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubRefWriteProbeRequest"}}}},"responses":{"200":{"description":"Create/readback/delete probe passed"},"409":{"description":"Mutation confirmation required"},"502":{"description":"Probe or cleanup failed"}},"x-openai-isConsequential":true}},"/github/actions/job-logs":{"post":{"operationId":"downloadGitHubJobLogs","summary":"Download bounded GitHub Actions job logs without exposing signed redirect URLs","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubJobLogsRequest"}}}},"responses":{"200":{"description":"Job logs downloaded"},"403":{"description":"Permission denied"},"404":{"description":"Job not found"},"502":{"description":"Log download failed"}}}},"/github/app/diagnose":{"post":{"operationId":"diagnoseGitHubAppRepository","summary":"Diagnose GitHub App installation for a repository","description":"Checks App JWT, discovers the installation for the repository, reads approved installation permissions, mints a repository-scoped installation token without exposing it, and verifies repository access.","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GitHubAppDiagnoseRequest"}}}},"responses":{"200":{"description":"Diagnosis passed"},"403":{"description":"Permissions or repository access denied"},"404":{"description":"Installation not found"},"503":{"description":"App credentials not configured or invalid"}}}},"/file/read":{"post":{"operationId":"readFile","summary":"Read a GitHub file with line view","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["repository_full_name","branch","path"],"properties":{"repository_full_name":{"type":"string","examples":["n0namer/gpt-coding-station"]},"branch":{"type":"string"},"path":{"type":"string"},"options":{"type":"object","properties":{"fields":{"type":"array","items":{"type":"string"}}}}}}}}},"responses":{"200":{"description":"File read"}}}},"/file/create":{"post":{"operationId":"createFile","summary":"Create and commit a new GitHub file","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFileRequest"}}}},"responses":{"200":{"description":"File created and reread verified"},"409":{"description":"File already exists"},"422":{"description":"Safety or validation failure"}},"x-openai-isConsequential":true}},"/patch/preview":{"post":{"operationId":"patchPreview","summary":"Preview a stale-safe precise patch without committing","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRequest"}}}},"responses":{"200":{"description":"Preview passed"},"409":{"description":"Expected SHA mismatch"},"422":{"description":"Patch cannot be safely applied"}}}},"/patch/apply":{"post":{"operationId":"patchApply","summary":"Apply a previously previewed stale-safe patch and commit it","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchApplyRequest"}}}},"responses":{"200":{"description":"Patch committed and reread verified"},"409":{"description":"Expected SHA mismatch"},"422":{"description":"Patch cannot be safely applied"}},"x-openai-isConsequential":true}},"/pull-request/read":{"post":{"operationId":"readPullRequest","summary":"Read pull request state and head SHA","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["repository_full_name","pull_number"],"properties":{"repository_full_name":{"type":"string","examples":["n0namer/gpt-coding-station"]},"pull_number":{"type":"integer","minimum":1}}}}}},"responses":{"200":{"description":"PR read"},"404":{"description":"PR not found"}}}},"/pull-request/ready":{"post":{"operationId":"markPullRequestReady","summary":"Mark draft PR ready with mandatory head SHA guard","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["repository_full_name","pull_number","expected_head_sha"],"properties":{"repository_full_name":{"type":"string","examples":["n0namer/gpt-coding-station"]},"pull_number":{"type":"integer","minimum":1},"expected_head_sha":{"type":"string"}}}}}},"responses":{"200":{"description":"PR ready and reread verified"},"409":{"description":"PR head changed"},"422":{"description":"Operation blocked"}},"x-openai-isConsequential":true}},"/pull-request/merge":{"post":{"operationId":"mergePullRequest","summary":"Merge PR with mandatory head SHA guard and reread verification","security":[{"ActionBearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["repository_full_name","pull_number","expected_head_sha"],"properties":{"repository_full_name":{"type":"string","examples":["n0namer/gpt-coding-station"]},"pull_number":{"type":"integer","minimum":1},"expected_head_sha":{"type":"string"},"merge_method":{"type":"string","enum":["merge","squash","rebase"],"default":"merge"},"commit_title":{"type":"string"},"commit_message":{"type":"string"}}}}}},"responses":{"200":{"description":"Merge passed and reread verified"},"409":{"description":"PR changed or merge blocked"},"422":{"description":"Unsafe/unmergeable"}},"x-openai-isConsequential":true}}},"components":{"securitySchemes":{"ActionBearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"opaque"}},"schemas":{"GitHubRestRequest":{"type":"object","required":["method","path"],"properties":{"auth":{"type":"string","enum":["user","app","installation"],"default":"user","description":"Credential mode. App and installation credentials stay server-side."},"method":{"type":"string","enum":["GET","HEAD","POST","PUT","PATCH","DELETE"]},"path":{"type":"string","description":"Absolute GitHub REST path only; never a full URL.","examples":["/repos/n0namer/gpt-coding-station","/app/installations"]},"query":{"type":"object","additionalProperties":{"oneOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"array","items":{"oneOf":[{"type":"string"},{"type":"number"},{"type":"boolean"}]}}]}},"body":{"type":"object","additionalProperties":true,"description":"GitHub JSON request body for non-GET/HEAD calls."},"repository_full_name":{"type":"string","description":"Optional local-policy scope and automatic installation resolver.","examples":["n0namer/gpt-coding-station"]},"installation_id":{"type":"integer","minimum":1,"description":"Optional explicit installation ID; normally omit when repository_full_name is known."},"paginate":{"type":"boolean","default":false,"description":"For GET, follow GitHub rel=next links within bounds."},"max_pages":{"type":"integer","minimum":1,"maximum":10,"default":5},"max_items":{"type":"integer","minimum":1,"maximum":1000,"default":500},"confirm_mutation":{"type":"boolean","default":false,"description":"Required for generic writes."},"confirm_admin_mutation":{"type":"boolean","default":false,"description":"Required in addition to confirm_mutation for server-enabled admin-class mutations."},"confirm_destructive_mutation":{"type":"boolean","default":false,"description":"Required in addition to confirm_mutation for server-enabled destructive-class mutations."}},"additionalProperties":false},"GitHubGraphqlRequest":{"type":"object","required":["query"],"properties":{"auth":{"type":"string","enum":["user","installation"],"default":"user"},"query":{"type":"string","minLength":1,"maxLength":100000},"variables":{"type":"object","additionalProperties":true},"repository_full_name":{"type":"string"},"installation_id":{"type":"integer","minimum":1},"confirm_mutation":{"type":"boolean","default":false},"confirm_admin_mutation":{"type":"boolean","default":false,"description":"Required for server-enabled GraphQL mutations."}},"additionalProperties":false},"GitHubRepositoryDiagnoseRequest":{"type":"object","required":["repository_full_name"],"properties":{"repository_full_name":{"type":"string"},"auth":{"type":"string","enum":["user","installation"],"default":"user"},"installation_id":{"type":"integer","minimum":1},"branch":{"type":"string"},"ref":{"type":"string"}},"additionalProperties":false},"GitHubRefWriteProbeRequest":{"type":"object","required":["repository_full_name","confirm_mutation"],"properties":{"repository_full_name":{"type":"string"},"auth":{"type":"string","enum":["user","installation"],"default":"installation"},"installation_id":{"type":"integer","minimum":1},"confirm_mutation":{"type":"boolean","const":true}},"additionalProperties":false},"GitHubJobLogsRequest":{"type":"object","required":["repository_full_name","job_id"],"properties":{"repository_full_name":{"type":"string"},"job_id":{"type":"integer","minimum":1},"auth":{"type":"string","enum":["user","installation"],"default":"user"},"installation_id":{"type":"integer","minimum":1},"max_bytes":{"type":"integer","minimum":1,"maximum":2000000,"default":2000000}},"additionalProperties":false},"GitHubAppDiagnoseRequest":{"type":"object","required":["repository_full_name"],"properties":{"repository_full_name":{"type":"string","examples":["n0namer/gpt-coding-station"]}},"additionalProperties":false},"CreateFileRequest":{"type":"object","required":["repository_full_name","branch","path","content","commit_message"],"properties":{"repository_full_name":{"type":"string","examples":["n0namer/gpt-coding-station"]},"branch":{"type":"string"},"path":{"type":"string"},"content":{"type":"string"},"commit_message":{"type":"string"}}},"PatchRequest":{"type":"object","required":["repository_full_name","branch","path","expected_sha","operation"],"properties":{"repository_full_name":{"type":"string","examples":["n0namer/gpt-coding-station"]},"branch":{"type":"string","examples":["archops/example"]},"path":{"type":"string","examples":["src/server.mjs"]},"expected_sha":{"type":"string"},"operation":{"oneOf":[{"$ref":"#/components/schemas/ReplaceBetweenMarkersOperation"},{"$ref":"#/components/schemas/InsertAfterMarkerOperation"},{"$ref":"#/components/schemas/ReplaceExactOnceOperation"},{"$ref":"#/components/schemas/ReplaceWithContextOperation"},{"$ref":"#/components/schemas/ReplaceLineRangeOperation"},{"$ref":"#/components/schemas/InsertAfterExactOnceOperation"}]},"options":{"type":"object","properties":{"max_changed_lines":{"type":"integer","minimum":1}}}}},"PatchApplyRequest":{"type":"object","required":["repository_full_name","branch","path","expected_sha","operation","commit_message"],"properties":{"repository_full_name":{"type":"string","examples":["n0namer/gpt-coding-station"]},"branch":{"type":"string","examples":["archops/example"]},"path":{"type":"string","examples":["src/server.mjs"]},"expected_sha":{"type":"string"},"operation":{"oneOf":[{"$ref":"#/components/schemas/ReplaceBetweenMarkersOperation"},{"$ref":"#/components/schemas/InsertAfterMarkerOperation"},{"$ref":"#/components/schemas/ReplaceExactOnceOperation"},{"$ref":"#/components/schemas/ReplaceWithContextOperation"},{"$ref":"#/components/schemas/ReplaceLineRangeOperation"},{"$ref":"#/components/schemas/InsertAfterExactOnceOperation"}]},"options":{"type":"object","properties":{"max_changed_lines":{"type":"integer","minimum":1}}},"commit_message":{"type":"string"},"preview_patch_id":{"type":"string"}}},"ReplaceBetweenMarkersOperation":{"type":"object","required":["type","start_marker","end_marker","new_text"],"properties":{"type":{"const":"replace_between_markers"},"start_marker":{"type":"string"},"end_marker":{"type":"string"},"new_text":{"type":"string"}}},"InsertAfterMarkerOperation":{"type":"object","required":["type","marker","text"],"properties":{"type":{"const":"insert_after_marker"},"marker":{"type":"string"},"text":{"type":"string"}}},"ReplaceExactOnceOperation":{"type":"object","required":["type","old_text","new_text"],"properties":{"type":{"const":"replace_exact_once"},"old_text":{"type":"string"},"new_text":{"type":"string"}}},"ReplaceWithContextOperation":{"type":"object","required":["type","old_text","new_text"],"properties":{"type":{"const":"replace_with_context"},"before":{"type":"string"},"old_text":{"type":"string"},"after":{"type":"string"},"new_text":{"type":"string"}}},"ReplaceLineRangeOperation":{"type":"object","required":["type","start_line","end_line","expected_old_text","new_text"],"properties":{"type":{"const":"replace_line_range"},"start_line":{"type":"integer","minimum":1},"end_line":{"type":"integer","minimum":1},"expected_old_text":{"type":"string"},"new_text":{"type":"string"}}},"InsertAfterExactOnceOperation":{"type":"object","required":["type","anchor_text","insert_text"],"properties":{"type":{"const":"insert_after_exact_once"},"anchor_text":{"type":"string"},"insert_text":{"type":"string"}}}}}}